<div id="user_gists">
  <%= paginate @gists, :remote => true, :window => 6,
               :params => {:controller => 'gists', :action => 'user_page', :user_id => @user.id}
  %>
  <%= render :partial => 'gists/list' %>
</div>
