<div class="span9">

  <%= render :partial => 'common/flash_notice' %>

  <h3><i class="icon-pencil"></i>&nbsp;My Gists
    <%= render :partial => 'common/search_form' %>
  </h3>
  <hr/>

  <%= render :partial => 'gists/mine_page' %>

  <script type="text/javascript">//<![CDATA[
  $(function () {
      prettyPrint();
  });
  //]]></script>

</div>
<div class="span3">
</div>
